html {
	background:url(../img/use_your_illusion.png) repeat 0px 0px;
}
body {
	width: 100%;
	height: 100%;
	overflow: hidden;

}

#leftimg {
	position: absolute;
	width: 50%;
	overflow: hidden;
}
#rightimg {
	position: absolute;
	right: -10;
	width: 50%;
	margin-left: 10px;
	overflow: hidden;
}
#imgleft {
	position: relative;
	background:url(../img/Listen-Music-Headphones.jpg) -1300px 0;
	/*position: absolute;*/
	width: 1200px;
	height: 1000px;
	opacity: 0.6;
	cursor: pointer;
	z-index: 5;
}
#imgleft:hover {
	opacity: 1;
}
#imgright {
	position: relative;
	background:url(../img/galler-wall.jpg) -1000px 0;
	/*position: absolute;*/
	width: 1200px;
	height: 1000px;
	opacity: 0.6;
	cursor: pointer;
	z-index: 5;
}
#imgright:hover {
	opacity: 1;
}

.mask {
	position: absolute;
	z-index: 100;
	margin-top: 50px;
}
#white_mask {

	background-color: white;
	width: 1200px;
	/*height: 1000px;*/
	cursor: pointer;
}
.text_content {
	position: relative;
	font-size: 50px;
	font-family: 'Joti One', cursive;
	margin:40px; 

}
#black_mask {

	background-color: black;
	width: 1200px;
	/*height: 1000px;*/
	cursor: pointer;
	color: white;
}
#loader {
		font-family: 'Joti One', cursive;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 999;
        color: white;
        font-size: 35px;
}
#spin_div {
	position: absolute;
	top: 50%;
	left: 50%;
}
#page_title {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -220px;
	margin-top: -120px; 
	font-size: 70px;
	color: #DF8E39 ;
}
#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -90px;
	margin-top: 80px; 
}
#left_head_img {
	position: absolute;
	background:url(../img/942465_616031361743383_1379958441_n.jpg) no-repeat 0px 0px;
	height: 500px;
	width: 300px;
	/*top: 100px;*/
	right: 0;
	cursor: pointer;
	z-index: 10;
}

#left {
	width: 100%;
	height: 100%;
	/*background-color: black;*/
	/*background:url(../img/binding_dark.png) repeat 0px 0px;*/
	color:#23D5D7;
	padding-top: 50px;
}
.about_content_page {
	position: relative;
	left: 300px;
	font-size: 16px;
	z-index: 1;
}
.about_content_page a {
	cursor: pointer;
}
#left_title {
	font-size: 150px;
	font-family: 'Joti One', cursive;
	position: relative;
	top: 150px;
	left: 200px;
	color: white;
}
#project_title img {
	position: relative;
	width: 240px;
	margin-bottom: -75px;
	left: 50%;
	margin-left: -120px;
}
#project_title {
	position: relative;
	margin: 0 auto;
	border-bottom: 2px solid #009e96;
}
#project_content {
	position: relative;
	margin: 0 auto;

}
.item {
	background-color: white;
	width: 240px;
	height: 240px;
	margin: 5px;
}
#works {
	position: relative;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	margin-top: 50px;
}
.item img {
	position: relative;
	width: 240px;
	height: 240px;
	/*margin: 5px;*/
	cursor: pointer;
	z-index: 10;
}
.c_mask {
	position: absolute;
	z-index: 100;
	width: 240px;
	height: 240px;
	background-color: black;
	opacity:0.8;
	font-size: 50px;
	font-family: 'Joti One', cursive;
	cursor: pointer;
}
.item_content {
	position: absolute;
	bottom: 50px;
	color: #DF3B39;
}
.all_mask {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 500;
	background-color: white;

}
#pop_data {
	position: absolute;
	width: 400px;
	/*height: 400px;*/
	z-index: 550;
	left: 50%;
	/*top:50%;*/
	margin-top: 200px;
	margin-left: -200px;  
}
.pop_content {
	font-size: 20px;
	width: 400px;
	height: 40px;
	border-bottom: 1px solid ;
	margin: 15px;
}
#close {
	/*width: 50px;
	height: 50px;*/
	position: fixed;
	right: 20%;
	top: 10%;
	cursor: pointer;
}