body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#leftimg {
	position: absolute;
	width: 50%;
	overflow: hidden;
}
#rightimg {
	position: absolute;
	right: -10;
	width: 50%;
	margin-left: 10px;
	overflow: hidden;
}
#imgleft {
	position: relative;
	background:url(../img/Listen-Music-Headphones.jpg) -1300px 0;
	/*position: absolute;*/
	width: 1200px;
	height: 1000px;
	opacity: 0.6;
	cursor: pointer;
	z-index: 5;
}
#imgleft:hover {
	opacity: 1;
}
#imgright {
	position: relative;
	background:url(../img/galler-wall-4.jpg) -1000px 0;
	/*position: absolute;*/
	width: 1200px;
	height: 1000px;
	opacity: 0.6;
	cursor: pointer;
	z-index: 5;
}
#imgright:hover {
	opacity: 1;
}

.mask {
	position: absolute;
	z-index: 100;
	margin-top: 50px;
}
#white_mask {

	background-color: white;
	width: 1200px;
	/*height: 1000px;*/
	cursor: pointer;
}
.text_content {
	position: relative;
	font-size: 50px;
	font-family: 'Joti One', cursive;
	margin:40px; 

}
#black_mask {

	background-color: black;
	width: 1200px;
	/*height: 1000px;*/
	cursor: pointer;
	color: white;
}
#loader {
		font-family: 'Joti One', cursive;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 999;
        color: white;
        font-size: 35px;
}
#spin_div {
	position: absolute;
	top: 50%;
	left: 50%;
}
#page_title {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -120px; 
	font-size: 70px;
	color: #DF8E39 ;
}
#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: 120px; 
}
#left_head_img {
	position: absolute;
	background:url(../img/942465_616031361743383_1379958441_n.jpg) no-repeat 0px 0px;
	height: 500px;
	width: 300px;
	/*top: 100px;*/
	right: 0;
	cursor: pointer;
	z-index: 10;
}

#left {
	width: 100%;
	height: 100%;
	background-color: black;
	color:#23D5D7;
	padding-top: 50px;
}
.about_content {
	position: relative;
	left: 300px;
	font-size: 16px;
	z-index: 1;
}
.about_content a {
	cursor: pointer;
}
#left_title {
	font-size: 150px;
	font-family: 'Joti One', cursive;
	position: relative;
	top: 150px;
	left: 200px;
	color: white;
}