
.navbar-inverse #navbar-inner {
	background:url(../img/binding_dark.png) repeat top left;
}

.navbar-inner .container {
	height: 90px;
}
.navbar-inner .container span {
	position: relative;
	font-size: 40px;
	color: #eee;
	top: 30px;
	margin-left: 0px;
}
.navbar-inner .container span:hover {
	color: #999;
	cursor: pointer;
}
.titlespan {
	text-shadow: 3px 3px 0 #000, 5px 5px 0 #eee;
}
.navbar-inner .container .navspan {
	font-size: 25px;
	position: relative;
	left: 70%;
}
.workwall {
	background-color: white;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50%;
	height: 100%;
	cursor: pointer;
	border-left: 1px solid #ccc;
	overflow: hidden;
}
.workwall img {
	position: absolute;
	right: 550px;
	width: 180px;
	height: 280px;
	top:300px;
}
.workwall .container {
	position: relative;
	margin-right: 150px;
	top: 200px;
	width:200px;
}
.wallheader {
	font-size: 30px;
	font-weight: bold;
	color: #000;
}
.walldescribe {
	font-size: 12px;
	color: #888;
}
.about {
	background-color: white;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50%;
	height: 100%;
	cursor: pointer;
	border-right: 1px solid #ccc;
	overflow: hidden;
}
.about img {
	position: absolute;
	top:300px;
	left: 550px;
	width: 180px;
	height: 280px;
}
.about .container {
	position: relative;
	margin-left: 150px;
	top: 200px;
	width: 100%;
}
.about_content {
	position: relative;
	left: 35%;
	top: 150px;
}
.works {

	width: 150px;
	height: 150px;
	
	margin: 10px;
}
.work_describe {
	background-color: green;
	width: 150px;
	height: 150px;
	font-weight: bold;
	position: absolute;
	opacity: 0;
}
.work_img {
	width: 150px;
	height: 150px;
	position: absolute;
}
.thumbnail p{
	color: black;
	text-decoration: none;
}
.thumbnail h3{
	color: black;
	text-decoration: none;
}
.thumbnail:hover, .thumbnail:focus {
	border: 1px solid #0088cc;
}
.thumbnails a {
	text-decoration: none;
}
.thumbnail>img {
	height:200px;
	width:300px;
}